body	background image	J1531bg.JPG
h1	Colour: 	Red 8B, Green 0, Blue 0
	Font:	Helvetica, or if not available Arial, if not available any sans-serif font
		Italicised 
		30 pixels high
		Aligned centre
h2 	Colour: 	Blue 70, Red 19, Green 19 
	Font:	Helvetica, or if not available Arial, if not available any sans-serif font
		20 pixels high
		Aligned centre
h3	Colour: 	Green 0, Blue 80, Red 0
	Font:	The browser’s default serif font
		16 pixels high
		Aligned left

table		No visible table border or gridlines.
